<mat-toolbar color="primary">
    <mat-icon style="margin-right: 10px;">auto_fix_high</mat-icon>
    <span>TI Wizard</span>
    <span class="spacer"></span>
    <nav>
        <button mat-flat-button color="primary" routerLink="/" routerLinkActive="active"
            ariaCurrentWhenActive="page">Wizard</button>
        <button mat-flat-button color="primary" routerLink="/settings" routerLinkActive="active"
            ariaCurrentWhenActive="page">Settings</button>
        <button mat-flat-button color="primary" routerLink="/about" routerLinkActive="active"
            ariaCurrentWhenActive="page">About</button>
    </nav>
    @let user = authenticationService.user$ | async;
    @let name = user?.displayName ?? user?.email;
    <button mat-mini-fab [matMenuTriggerFor]="menu" [matTooltip]="name ?? ''" type="button">
        @if(user?.photoURL){
        <img [src]="user?.photoURL" title="photo" />
        }
        @else {
        {{name?.charAt(0)?.toUpperCase() ?? '?'}}
        }
    </button>
    <mat-menu #menu="matMenu">
        @if(user){
        <button mat-menu-item (click)="logout()" type="button">Logout</button>
        }
        @else {
        <button mat-menu-item routerLink="/login" type="button">Login</button>
        }
    </mat-menu>
</mat-toolbar>